body {
    padding: 0;
    margin: 0;
    background: #F1F1F1;
}

/* ========= { START NAVBARE } =========*/

nav .navbar-container {
    width: 90%;
}

nav .navbar-brand span {
    font-weight: 500;
}

nav .navbar-brand span:first-of-type {
    color: #41CE44;
}

.nav-container .search-container {
    width: 300px;
}

nav .container .nav-links ul {
    display: flex;
}

nav .container .nav-links ul li {
    margin-left: 20px;
}

nav .container .nav-links ul li a {
    color: #555;
    cursor: pointer;
}

.fixed-nav {
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    animation: slide-down 0.7s;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

/* ========= { END NAVBARE } =========*/

/* ========= { START HEADER } =========*/

header {
    position: relative;
    width: 100%;
    height: 500px;
}

header::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.212);
}

.header-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #41CE44;
}

header .header-desc {
    z-index: 3;
    display: inline-block;
    top: 40%;
    left: 6em;
    text-align: center;
}

header .header-desc p:first-of-type {
    font-size: 27px;
}

header .header-desc p:nth-of-type(2) {
    font-size: 19px;
}

/* ========= { END HEADER } =========*/

/* ========= { START MARKETPLACE } =========*/

.market-place h4 {
    color: #555555;
}

.market-place .marketplace-container {
    display: grid;
    grid-template-columns: repeat(4,280px);
    grid-gap: 35px;
    justify-content: center;
}

.marketplace-container
.card .card-title-container p {
    font-weight: 500;
}

.marketplace-container .card {
    transition: .3s;
}

.marketplace-container .card:hover {
    box-shadow: 6px 6px 6px #DDD;
}

/* ========= { START OFERE } =========*/

.offer .offer-container {
    display: flex;
    flex-flow: row-reverse
}

.offer .offer-container
.offer-img,
.offer .offer-container 
.offer-info {
    width: 50%;
}

.offer .offer-container
.offer-img img {
    width: 100%;
    height: 400px;
}

.offer-container .offer-info
.offer-item {
    width: 90%;
}

.offer-container .offer-info
.offer-item p {
    margin-top: 10px; 
}

.offer-container .offer-info
.offer-item .offer-item-title {
    display: flex;
}

.offer-container .offer-info
.offer-item .offer-item-title span {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(23, 162, 184);
}

.offer-container .offer-info
.offer-item .offer-item-title span::after {
    position: absolute;
    content: '';
    width: 5px;
    height: 10px;
    border-right: 2px solid rgb(23, 162, 184);
    border-bottom: 2px solid rgb(23, 162, 184);
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
}

.offer-container .offer-info
.offer-item .offer-item-title p {
    font-weight: 500;
    margin: -2px 5px;
}

/* ========= { START TESTIMONIAL } =========*/

.testimonial {
    margin-top: 3em;
}

.testimonial .carousel-container {
    margin: auto;
    border: solid 3px #DDD;
    width: 90%;
}

.carousel-item .carousel-item-container {
    display: flex;
    justify-content: center;
}

.carousel-item .carousel-item-container
.carousel-img ,
.carousel-item .carousel-item-container
.carousel-info {
    height: 370px;
    width: 50%;
    background: #FFF;
}

.carousel-control-prev {
    width: 0;
    left: 5em;
}

.carousel-control-prev-icon,
.carousel-control-next {
    position: absolute;
    background: url();
    width: 0;
}

.carousel-control-prev-icon::after,
.carousel-control-next::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-left: 3px solid rgb(11, 63, 219);
    border-bottom: 3px solid rgb(11, 63, 219);
    transform: rotate(45deg);

}

.carousel-control-next::after {
    transform: rotate(140deg);
    right: 5em;
    border-left: transparent;
    border-bottom: transparent;
    border-left: 3px solid rgb(11, 63, 219);
    border-top: 3px solid rgb(11, 63, 219);
}

.carousel-info p {
    font-size: 19px;
    margin: 5em 20px;
    width: 80%;
}

/* ========= { END TESTIMONIAL } =========*/

/* ========= { START GET STARTED } =========*/

.login {
    height: 200px;
}

.login .login-container {
    position: relative;
    text-align: center;
    top: 3em;
    margin-left: 2em;
    color: #555;
}

/* ========= { END GET STARTED } =========*/

/* ========= { START FOOTER } =========*/

footer {
    background: #567;
    padding: 15px;
    margin-top: 5em;
}

footer .footer-container {
    display: flex;
}

footer .footer-container
.site-title span {
    font-weight: 500;
    font-size: 18px;
}

footer .footer-container
.site-title span:first-of-type {
    color: #41CE44;
}

footer .footer-container 
.site-social-media img {
    width: 25px;
    height: 25px;
}

/* ========= { END FOOTER } =========*/

/* ========= { START RESPONSE ON SMALL DEVICES } =========*/

@media screen and (min-width: 300px) and (max-width: 550px) {

/* ========= { START NAVBARE } =========*/

nav .nav-container, 
nav .navbar-container {
    position: absolute;
    background: #FFF;
    top: 3em;
    z-index: 4;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s;
}

nav .nav-container {
    top: 8px;
    right: 0;
}

nav .navbar-brand .menu-btn span {
    display: block;
    width: 24px;
    height: 3px;
    margin-top: 3px;
    background: #555;
}

nav .navbar-container {
    background: #FFF;
    transition: .3s;
    width: 100%;
    height: 0;
}

.nav-container .nav-links {
    width: 100%;
    background: #FFF
}

nav .container .nav-links ul {
    display: block;
    position: relative;
    text-align: center;
    top: -2em;
}

nav .container .nav-links ul li {
    margin-left: 0;
    margin-top: 15px;
}

.search-container {
    width: 100%;
    position: relative;
    top: -1em;
    margin: auto;
}

nav .open-close-nav {
    height: 300px;
    transition: .3s;
}

.fixed-nav {
    position: unset;
    animation: slide 0.7s;
}

/* ========= { END NAVBARE } =========*/

/* ========= { START HEADER } =========*/

header {
    height: 400px;
}

header::after {
    height: 400px;
}

header .header-desc {
    left: 0;
    padding: 10px;
}

header .header-desc p:first-of-type { font-size: 24px; }

header .header-desc p:nth-of-type(2) { font-size: 18px; }

/* ========= { END HEADER } =========*/

/* ========= { START MARKETPLACE } =========*/

.market-place .marketplace-container {
    grid-template-columns: repeat(1,280px);
    grid-gap: 35px 0;
}

/* ========= { END MARKETPLACE } =========*/

/* ========= { START OFERE } =========*/

.offer .offer-container {
    display: block;
}

.offer .offer-container
.offer-img img {
    height: 200px;
}

.offer .offer-container
.offer-img,
.offer .offer-container 
.offer-info {
    width: 100%;
    padding: 10px;
}

.offer-container .offer-info
.offer-item {
    width: 100%;
    margin-left: -20px;
}

.offer-container .offer-info
.offer-item p {
    margin-top: 19px;
}

/* ========= { END OFERE } =========*/

/* ========= { START TESTIMONIAL } =========*/

.carousel-item .carousel-item-container {
    display: block;
}

.carousel-item .carousel-item-container
.carousel-info {
    height: 200px;
}

.carousel-item .carousel-item-container
.carousel-info p {
    text-align: center;
    margin: 0;
    font-size: 17px;
}

.carousel-item .carousel-item-container
.carousel-img ,
.carousel-item .carousel-item-container
.carousel-info {
    width: 100%;
}

.carousel-item .carousel-item-container
.carousel-img {
    height: 198px;
}

.carousel-control-prev {
    width: 0;
    left: 1em;
}

.carousel-control-next {
    right: -4em;
}

.carousel-info p {
    text-align: center;
    font-size: 14px;
    margin: 5em 0;
    width: 100%;
    padding: 5px;
}

/* ========= { END TESTIMONIAL } =========*/

/* ========= { START GET STARTED } =========*/

.login {
    height: 250px;
}

.login .login-container {
    margin-left: 0;
}

/* ========= { START GET STARTED } =========*/

/* ========= { START FOOTER } =========*/

footer .footer-container {
    display: block
}

footer .footer-container 
.site-social-media {
    justify-content: center;
}

/* ========= { END FOOTER } =========*/

}

@media screen and (min-width: 551px) and (max-width: 650px) {

/* ========= { START NAVBARE } =========*/


nav .nav-container, 
nav .navbar-container {
    position: absolute;
    background: #FFF;
    top: 3em;
    z-index: 4;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s;
}

nav .nav-container {
    top: 8px;
    right: 0;
}

nav .navbar-brand .menu-btn span {
    display: block;
    width: 24px;
    height: 3px;
    margin-top: 3px;
    background: #555;
}

nav .navbar-container {
    background: #FFF;
    transition: .3s;
    width: 100%;
    height: 0;
}

.nav-container .nav-links {
    width: 100%;
    background: #FFF
}

nav .container .nav-links ul {
    display: block;
    position: relative;
    text-align: center;
    top: -2em;
}

nav .container .nav-links ul li {
    margin-left: 0;
    margin-top: 15px;
}

.search-container {
    width: 100%;
    position: relative;
    top: -1em;
    margin: auto;
}

nav .open-close-nav {
    height: 300px;
    transition: .3s;
}

.fixed-nav {
    position: unset;
    animation: slide 0.7s;
}

/* ========= { END NAVBARE } =========*/

/* ========= { START HEADER } =========*/

header {
    height: 400px;
}

header::after {
    height: 400px;
}

header .header-desc {
    left: 0;
    padding: 10px;
}

header .header-desc p:first-of-type { font-size: 24px; }

header .header-desc p:nth-of-type(2) { font-size: 18px; }

/* ========= { END HEADER } =========*/

/* ========= { START MARKETPLACE } =========*/

.market-place .marketplace-container {
    grid-template-columns: repeat(2,260px);
    grid-gap: 35px 15px;
}

/* ========= { END MARKETPLACE } =========*/

/* ========= { START OFERE } =========*/

.offer .offer-container {
    display: block;
}

.offer .offer-container
.offer-img img {
    height: 200px;
}

.offer .offer-container
.offer-img,
.offer .offer-container 
.offer-info {
    width: 100%;
    padding: 10px;
}

.offer-container .offer-info
.offer-item {
    width: 100%;
    margin-left: -20px;
}

.offer-container .offer-info
.offer-item p {
    margin-top: 19px;
}

/* ========= { END OFERE } =========*/

/* ========= { START TESTIMONIAL } =========*/

.carousel-item .carousel-item-container {
    display: block;
}

.carousel-item .carousel-item-container
.carousel-info {
    height: 200px;
}

.carousel-item .carousel-item-container
.carousel-info p {
    text-align: center;
    margin: 0;
    font-size: 17px;
    transform: translateY(50px)
}

.carousel-item .carousel-item-container
.carousel-img ,
.carousel-item .carousel-item-container
.carousel-info {
    width: 100%;
}

.carousel-item .carousel-item-container
.carousel-img {
    height: 198px;
}

.carousel-control-prev {
    width: 0;
    left: 1em;
}

.carousel-control-next {
    right: -4em;
}

.carousel-info p {
    text-align: center;
    font-size: 14px;
    margin: 5em 0;
    width: 100%;
    padding: 5px;
}

/* ========= { END TESTIMONIAL } =========*/

/* ========= { START GET STARTED } =========*/

.login {
    height: 200px;
}

.login .login-container {
    margin-left: 0;
}

/* ========= { START GET STARTED } =========*/

}


/* ========= { END RESPONSE ON SMALL DEVICES } =========*/

/* ========= { START RESPONSE ON LARGE DEVICES } =========*/

@media screen and (min-width: 651px) and (max-width: 950px) {

/* ========= { START NAVBARE } =========*/


nav .nav-container, 
nav .navbar-container {
    position: absolute;
    background: #FFF;
    top: 3em;
    z-index: 4;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s;
}

nav .nav-container {
    top: 8px;
    right: 0;
}

nav .navbar-brand .menu-btn span {
    display: block;
    width: 24px;
    height: 3px;
    margin-top: 3px;
    background: #555;
}

nav .navbar-container {
    background: #FFF;
    transition: .3s;
    width: 100%;
    height: 0;
}

.nav-container .nav-links {
    width: 100%;
    background: #FFF
}

nav .container .nav-links ul {
    display: block;
    position: relative;
    text-align: center;
    top: -2em;
}

nav .container .nav-links ul li {
    margin-left: 0;
    margin-top: 15px;
}

.search-container {
    width: 100%;
    position: relative;
    top: -1em;
    margin: auto;
}

nav .open-close-nav {
    height: 300px;
    transition: .3s;
}

.fixed-nav {
    position: unset;
    animation: slide 0.7s;
}

/* ========= { END NAVBARE } =========*/

/* ========= { START HEADER } =========*/

header {
    height: 400px;
}

header::after {
    height: 400px;
}

header .header-desc {
    left: 0;
    padding: 10px;
}

header .header-desc p:first-of-type { font-size: 24px; }

header .header-desc p:nth-of-type(2) { font-size: 18px; }

/* ========= { END HEADER } =========*/

/* ========= { START MARKETPLACE } =========*/

.market-place .marketplace-container {
    grid-template-columns: repeat(2,280px);
    grid-gap: 35px;
}

/* ========= { END MARKETPLACE } =========*/

/* ========= { START OFERE } =========*/

.offer .offer-container
.offer-img {
    align-self: center;
}

.offer .offer-container
.offer-img img {
    height: 250px;
    width: 90%;
}

/* ========= { END OFERE } =========*/

/* ========= { START TESTIMONIAL } =========*/

.carousel-info p {
    text-align: center;
    font-size: 16px;
    margin: 5em 0;
    width: 100%;
    padding: 5px;
}

/* ========= { END TESTIMONIAL } =========*/

/* ========= { START GET STARTED } =========*/

.login {
    height: 200px;
}

.login .login-container {
    margin-left: 0;
}

/* ========= { START GET STARTED } =========*/

}


@media screen and (min-width: 951px) and (max-width: 1200px) {

/* ========= { START NAVBARE } =========*/

.nav-container {
    max-width: unset;
}

nav .navbar-container {
    width: 85%;
}

/* ========= { END NAVBARE } =========*/

/* ========= { START HEADER } =========*/

header {
    height: 400px;
}

header::after {
    height: 400px;
}

header .header-desc {
    left: 0;
    padding: 10px;
}

header .header-desc p:first-of-type { font-size: 24px; }

header .header-desc p:nth-of-type(2) { font-size: 18px; }

/* ========= { END HEADER } =========*/

/* ========= { START MARKETPLACE } =========*/

.market-place .marketplace-container {
    grid-template-columns: repeat(2,280px);
    grid-gap: 35px;
}

/* ========= { END MARKETPLACE } =========*/

/* ========= { START OFERE } =========*/

.offer .offer-container
.offer-img {
    align-self: center;
}

.offer .offer-container
.offer-img img {
    height: 250px;
    width: 90%;
}

/* ========= { END OFERE } =========*/

/* ========= { START GET STARTED } =========*/

.login {
    height: 200px;
}

.login .login-container {
    margin-left: 0;
}

/* ========= { START GET STARTED } =========*/

}

@media screen and (min-width: 1201px) and (max-width: 1250px) {

.nav-container {
    max-width: unset;
}

nav .navbar-container {
    width: 85%;
}

.market-place .marketplace-container {
    grid-template-columns: repeat(4,280px);
    grid-gap: 20px;
}

}

/* ========= { START RESPONSE ON LARGE DEVICES } =========*/